# VelvetHyper GitIgnore

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Desktop UI
node_modules/
dist/
build/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Agent
.agent/
.gemini/

# VMware / Spoofer
*.log
*.vmem
*.vmsn
*.vmsd
*.nvram
*.exe
!profiles/*.json
!build/*.exe
!libs/native_utils/*.exe
